.header
  = render 'items/header'

.main
  .sidebar
    =render "sidebar"

  .myinfomations
    .myinfomations__head
      = link_to "#" do
        .myinfomations__head__inner
          =image_tag 'member_photo_noimage_thumb.png', class: 'myinfomations__head__inner__image'
          .myinfomations__head__inner__name
            %h2 *** ***
          .myinfomations__head__inner__data
            %span 評価 0
            %span 出品数 0
              
      =image_tag 'user-bg-07a3d1eec321479f465363323ddeb262.jpg', class: 'myinfomations__head__backImage'

    .myinfomations__tabs
      %ul.myinfomations__tabs__label
        %li.myinfomations__tabs__label.active
          %h3 お知らせ
        %li.myinfomations__tabs__label
          %h3 やることリスト

      .myinfomations__tabs__contents
        %ul.myinfomations__tabs__contents__notifications.view
          =link_to "#" do
            =image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"image"
            .myinfomations__tabs__contents__notifications__text
              %label お知らせ１
            .myinfomations__tabs____contentsnotifications__time
              %span=icon('far', 'clock',class:"time--icon")
              %span 2 時間前
              = icon('fas', 'chevron-right',class:"right--icon")

        %ul.myinfomations__tabs__contents__todos
          =link_to "#" do
            =image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"image"
            .myinfomations__tabs__contents__todos__text
              %label やることリスト１
            .myinfomations__tabs__contents__todos__time
              %span=icon('far', 'clock',class:"time--icon")
              %span 2 時間前
              = icon('fas', 'chevron-right',class:"right--icon")

    .myinfomations__trade
      %h4 購入した商品
      %ul.myinfomations__trade__label
        %li.myinfomations__trade__label.active
          %h3 取引中
        %li.myinfomations__trade__label
          %h3 過去の取引

      .myinfomations__trade__contents
        %ul.myinfomations__trade__contents__tradingItems.view
          =link_to "#" do
            =image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"image"
            .myinfomations__trade__contents__tradingItems__text
              %label 取引中１
            .myinfomations__trade__contents__tradingItems__time
              %span=icon('far', 'clock',class:"time--icon")
              %span 3 時間前
              = icon('fas', 'chevron-right',class:"right--icon")

        %ul.myinfomations__trade__contents__boughtItems
          =link_to "#" do
            =image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"image"
            .myinfomations__trade__contents__boughtItems__text
              %label 過去の取引１
            .myinfomations__trade__contents__boughtItems__time
              %span=icon('far', 'clock',class:"time--icon")
              %span 3 時間前
              = icon('fas', 'chevron-right',class:"right--icon")

.footer
  = render 'items/footer'