.main
  .new__card
    = form_with url:root_path do |f|
      
      .new__card__header
        クレジットカード情報入力

      .new__card__create
        .new__card__create__number
          カード番号
          .new__card__create__number__form
            = f.text_field :text, class:"form__text", placeholder: "半角数字のみ"
          .new__card__create__number__image
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Logo_Visa.svg/2000px-Logo_Visa.svg.png", alt: "", size: '50x20')

        .new__card__create__validatedDate
          有効期限
          .new__card__create__validatedDate__select
            != sprintf(f.date_select(:expiration_date,with_css_classes:'select__form', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'

        .new__card__create__securityNumber
          セキュリティコード
          .new__card__create__securityNumber__form
            = f.text_field :text, class:"form__text", placeholder: "カード背面4桁もしくは3桁の番号"
        
        .new__card__create__question
          = icon('fas', 'question-circle',class:"question--icon")
          カード裏面の番号とは？

        .new__card__create__add
          = link_to "#", class: "add__btn" do
            追加する