= render 'devise/shared/header2'
.contents2
  .contents2__title
    会員登録完了
  .contents2__selection
    ありがとうございます。
    会員登録が完了しました。
    .contents2__btn
    = link_to root_path, class: "contents2__btn contents2__btn__mail" do
      メルカリをはじめる
    = link_to root_path, class: "contents2__btn contents2__btn__facebook" do
      Downloads on the App Store
    = link_to root_path, class: "contents2__btn contents2__btn__google" do
      GET IT ON Google Play
= render 'devise/shared/footer2'
%h2 登録が完了しました
= link_to "トップへ戻る", root_path
