-# コードを見ていただくにあたって(scssファイルと書いてあることは同じです。)
-# ・現時点でのビューは https://gyazo.com/8141f3f29a694cbc604e1b4de9dc2db7 です。
-# ・各ボタン・ロゴなどのリンク先は全てroot(=items#index)になっています。
-# ・googleのロゴはfont awesomeのものを使用しており、カラーではありません。対応はできそうですが、簡単にできる方法があれば助言をお願いします。
-# ・フッターのメルカリのロゴはヘッダーと同じものにしています。対応はできそうですが、簡単にできる方法があれば助言をお願いします。
= render 'devise/shared/header'
.contents
  .contents__title
    新規会員登録
  .contents__selection
    = link_to root_path, class: "contents__btn contents__btn__mail" do
      = icon('far', 'envelope fa-lg', class: "contents__btn__icon1")
      メールアドレスで登録する
    = link_to root_path, class: "contents__btn contents__btn__facebook" do
      = icon('fab', 'facebook-square fa-2x', class: "contents__btn__icon2")
      Facebookで登録する
    = link_to root_path, class: "contents__btn contents__btn__google" do
      = image_tag 'google_color.png', class: 'contents__btn__icon3', size: '114x47'
      Googleで登録する
= render 'devise/shared/footer'