.header3
  .header3__logo
    = link_to root_path do
      .header3__logo__image
    .header3__logo__progress
      = image_tag "step3_r2.png", class: "image", size: "400x35"
.contents5
  .contents5__title
    住所入力
  .contents5__entry
    =form_with model: @address, url: addresses_path, method: :post, id: 'new_user', local: true do |f|
      =render "devise/shared/error_messages", resource: @address
      .contents5__entry__item
        .form-group
          = f.label "郵便番号"
          %span.must 必須
          %br/
          = f.text_field :zip_code,{autofocus: true, placeholder: "例）1234567 ハイフンなし", class: "contents5__form__text"}
      .contents5__entry__item
        .form-group
          = f.label "都道府県"
          %span.must 必須
          %br/
          = f.select :prefecture, Address.prefectures.keys, {}, {class: "contents5__form__text"}
      .contents5__icon
        = fa_icon("chevron-down")
      .contents5__entry__item
        .form-group
          = f.label "市区町村"
          %span.must 必須
          %br/
          = f.text_field :city, autofocus: true, placeholder: "例）札幌市", class: "contents5__form__text"
      .contents5__entry__item
        .form-group
          = f.label "番地"
          %span.must 必須
          %br/
          = f.text_field :address, autofocus: true, placeholder: "例）青葉1-1-1", class: "contents5__form__text"
      .contents5__entry__item
        .form-group
          = f.label "建物名"
          %span.option 任意
          %br/
          = f.text_field :building, autofocus: true, placeholder: "例）柳ビル103", class: "contents5__form__text"
      .contents5__entry__item
        .form-group
          = f.label "電話"
          %span.option 任意
          %br/
          = f.text_field :building, autofocus: true, placeholder: "例）09012345678", class: "contents5__form__text"
      .contents5__btn
        .form-group
          = f.submit '次へ進む', class: "contents5__btn contents5__btn__next"
      .contents5__entry__box

= render 'devise/shared/footerUserRegis'

-# 参考
-# active_hash https://kossy-web-engineer.hatenablog.com/entry/2019/01/08/205702
-# collection_selectのクラス設定　https://qiita.com/jacoyutorius/items/b7c1498de034c7be9f1a
