.header3
  .header3__logo
    = link_to root_path do
      .header3__logo__image
    .header3__logo__progress
      = image_tag "step3.png", class: "image", size: "450x35"
.contents5
  .contents5__title
    住所入力
  .contents5__entry
    .contents5__entry__item
      お名前&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）山田", class: "contents5__form__text"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）彩", class: "contents5__form__text"
    .contents5__entry__item
      お名前カナ&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）ヤマダ", class: "contents5__form__text"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）アヤ", class: "contents5__form__text"
    .contents5__entry__item
      郵便番号&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）123-4567", class: "contents5__form__text"
    .contents5__entry__item
      都道府県&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "北海道", class: "contents5__form__text"
    .contents5__entry__item
      市区町村&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）横浜市緑区", class: "contents5__form__text"
    .contents5__entry__item
      番地&nbsp;&nbsp;&nbsp;
      = image_tag "must.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）青山1-1-1", class: "contents5__form__text"
    .contents5__entry__item
      建物名&nbsp;&nbsp;&nbsp;
      = image_tag "abt.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）緑ビル103", class: "contents5__form__text"
    .contents5__entry__item
      電話&nbsp;&nbsp;&nbsp;
      = image_tag "abt.png", class: "image", size: "30x16"
    =form_with class: "contents5__form" do |f|
      =f.text_field :number, placeholder: "例）09012345678", class: "contents5__form__text"
    .contents5__btn
    = link_to root_path, class: "contents5__btn contents5__btn__next" do
      次へ進む

= render 'devise/shared/footer2'

-# 以下は元の中身。消さないこと！
-# %main.single-main
-#   %section.single-main__container
-#     %h2.single-main__container__title
-#       住所入力
-#     .single-main__container__form__frame
-#       =form_for(@address, url: addresses_path, method: :post) do |f|
-#         =render "devise/shared/error_messages", resource: @address
-#         .form-group
-#           = f.label :郵便番号
-#           %span.form-group__require 必須
-#           = f.text_field :zip_code,{autofocus: true, placeholder: "例）1234567 ハイフンなし", class: 'form-group__input'}
-#         .form-group
-#           = f.label :都道府県
-#           %span.form-group__require 必須
-#           = f.select :prefecture, Address.prefectures.keys, {}, {class: 'form-group__input'}
-#         .form-group
-#           = f.label :市町村
-#           %span.form-group__require 必須
-#           = f.text_field :city, autofocus: true, placeholder: "例）札幌市", class: 'form-group__input'
-#         .form-group
-#           = f.label :番地
-#           %span.form-group__require 必須
-#           = f.text_field :address, autofocus: true, placeholder: "例）青葉1-1-1", class: 'form-group__input'
-#         .form-group
-#           = f.label :建物名
-#           %span.form-group__optional 任意
-#           = f.text_field :building, autofocus: true, placeholder: "例）柳ビル103", class: 'form-group__input'
-#         .form-group
-#           = f.submit '次へ'