.header3
  .header3__logo
    = link_to root_path do
      .header3__logo__image
    .header3__logo__progress
      = image_tag "step4.png", class: "image", size: "450x35"

.cardsContents
  .cardsContents__title
    支払い方法
  .cardsContents__entry
    = form_for(@card, url: cards_path,method: :post) do |f|
      = render "devise/shared/error_messages", resource: @card
      .cardsContents__entry__item
        .form-group
          = f.label "カード番号", class: "card_label"
          %span.must 必須
          %br/
          = f.text_field :number, {placeholder: "半角数字のみ", class: "cardsContents__form__text"}
      .cardsContents__entry__image
        %li
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Logo_Visa.svg/2000px-Logo_Visa.svg.png", alt: "visa", size: '45x17')
        %li
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1280px-Mastercard-logo.svg.png", alt: "master", size: '25x20')
        %li
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Saison_card_logo.svg/1024px-Saison_card_logo.svg.png", alt: "saison", size: '25x20')
        %li
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/JCB_logo.svg/600px-JCB_logo.svg.png", alt: "jcb", size: '25x20')
        %li
          = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1202px-American_Express_logo_%282018%29.svg.png", alt: "americanexpress", size: '25x20')
        %li
          = image_tag("https://clipartart.com/images/diners-club-logo-clipart.png", alt: "dinersclub", size: '25x20')
        %li
          = image_tag("https://blog.mudora.jp/wp-content/uploads/2013/11/disc_5121.png", alt: "discover", size: '30x25')
      .cardsContents__entry__item
        .form-group
          = f.label "有効期限", class: "card_label"
          %span.must 必須
          %br/
          = f.select :validated_date_month, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, {class: "cardsContents__MonthForm__text"}
          %span.date 月
          = f.select :validated_date_year, options_for_select(["20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"]), {}, {class: "cardsContents__YearForm__text"}
          %span.date 年
      .cardsContents__icon
        = fa_icon("chevron-down")
      .cardsContents__icon2
        = fa_icon("chevron-down")
      .cardsContents__entry__item
        .form-group
          = f.label "セキュリティコード", class: "card_label"
          %span.must 必須
          = f.text_field :security_number, placeholder: "カード背面4桁もしくは3桁の番号", class: "cardsContents__form__text"
      .cardsContents__question
        = icon('fas', 'question-circle',class:"cardsContents__question--icon")
        = link_to "https://www.mercari.com/jp/box/qa45a372693140314/" do
          カード裏面の番号とは？
      .form-group
        = f.submit "次へ進む", class: "cardsContents__btn cardsContents__btn__next"
    .cardsContents__entry__boxwhite
    .cardsContents__entry__boxgray
= render 'devise/shared/footerUserRegis'

-# （参考）下記は年月モデルを使ったときの書き方
-#     .cardsContents__MonthForm
-#     =form_with class: "cardsContents__MonthForm" do |f|
-#       = f.collection_select(:month_id, Month.all, :id, :name, {prompt: false}, {class: "cardsContents__MonthForm__text"})
-#     %label
-#       月
-#     .cardsContents__YearForm
-#     =form_with class: "cardsContents__YearForm" do |f|
-#       = f.collection_select(:year_id, Year.all, :id, :name, {prompt: false}, {class: "cardsContents__YearForm__text"})
-#     %label
-#       年