.header
  = render 'items/header'

.main
  .sidebar
    = render 'myinfomations/sidebar'
  .new
    .new__card
      = form_with url:new_credit_card_path, method: :post, id: 'charge-form', name: "InputForm", local: true do |f|
        
        .new__card__header
          %h1
            クレジットカード情報入力

        .new__card__create
          .new__card__create__formgroup
            .new__card__create__formgroup__number
              %label
                カード番号
              %span
                必須
              .new__card__create__formgroup__number__form
                = f.text_field :text, class:"new__card__create__formgroup__number__form__text", placeholder: "半角数字のみ",maxlength: "16", id: "card_number"
              .new__card__create__formgroup__number__image
                %li
                  = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Logo_Visa.svg/2000px-Logo_Visa.svg.png", alt: "visa", size: '45x17')
                %li
                  = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1280px-Mastercard-logo.svg.png", alt: "master", size: '25x20')
                %li
                  = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Saison_card_logo.svg/1024px-Saison_card_logo.svg.png", alt: "saison", size: '25x20')
                %li
                  = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/JCB_logo.svg/600px-JCB_logo.svg.png", alt: "jcb", size: '25x20')
                %li
                  = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1202px-American_Express_logo_%282018%29.svg.png", alt: "americanexpress", size: '25x20')
                %li
                  = image_tag("https://clipartart.com/images/diners-club-logo-clipart.png", alt: "dinersclub", size: '25x20')
                %li
                  = image_tag("https://blog.mudora.jp/wp-content/uploads/2013/11/disc_5121.png", alt: "discover", size: '30x25')

            .new__card__create__formgroup__validatedDate
              %label
                有効期限
              %span
                必須
              .new__card__create__formgroup__validatedDate__select
                .new__card__create__formgroup__validatedDate__select__month
                  %select.new__card__create__formgroup__validatedDate__select__month__box{name: "exp_month", type: "text", id: "exp_month"}
                    %option{value: "1"} 01
                    %option{value: "2"} 02
                    %option{value: "3"} 03
                    %option{value: "4"} 04
                    %option{value: "5"} 05
                    %option{value: "6"} 06
                    %option{value: "7"} 07
                    %option{value: "8"} 08
                    %option{value: "9"} 09
                    %option{value: "10"} 10
                    %option{value: "11"} 11
                    %option{value: "12"} 12
                  %label
                    月
                .new__card__create__formgroup__validatedDate__select__year
                  %select.new__card__create__formgroup__validatedDate__select__year__box{name: "exp_year", type: "text", id: "exp_year"}
                    %option{value: "2020"} 20
                    %option{value: "2021"} 21
                    %option{value: "2022"} 22
                    %option{value: "2023"} 23
                    %option{value: "2024"} 24
                    %option{value: "2025"} 25
                    %option{value: "2026"} 26
                    %option{value: "2027"} 27
                    %option{value: "2028"} 28
                  %label
                    年
            .new__card__create__formgroup__securityNumber
              %label
                セキュリティコード
              %span
                必須
              .new__card__create__formgroup__securityNumber__form
                = f.text_field :text, class:"new__card__create__formgroup__securityNumber__form__text", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
            
              .new__card__create__formgroup__securityNumber__question
                = icon('fas', 'question-circle',class:"new__card__create__formgroup__securityNumber__question--icon")
                カード裏面の番号とは？
            .new__card__create__formgroup__add
              = link_to "#", class: "new__card__create__formgroup__add__btn", id: "token_submit" do
                追加する

.footer
  = render 'items/footer'

.exhibition
  =link_to new_product_path, class: "exhibition__link" do
    出品
    = fas_icon 'camera', class: "exhibition__link__icon"