.SignInMain
  .SignInMain__title
    %ul
      %li アカウントをお持ちでない方はこちら
    = link_to user_registration_path, class: "SignInMain__btn SignInMain__btn__regis" do
      新規会員登録
  .SignInMain__body
    = link_to root_path, class: "SignInMain__btn SignInMain__btn__facebook" do
      = icon('fab', 'facebook-square fa-2x', class: "SignInMain__btn__icon2")
      Facebookでログイン
    = link_to root_path, class: "SignInMain__btn SignInMain__btn__google" do
      = image_tag 'google_color.png', class: 'SignInMain__btn__icon3', size: '114x47'
      Googleでログイン
    = form_with model: @user, url: user_registration_path, id: 'new_user', local: true do |f|
      .field
        %br/
        = f.email_field :email, autocomplete: "email", class: 'SignInMain__form', placeholder: "メールアドレス"
      .field
        %br/
        = f.password_field :password, autocomplete: "current-password", class: 'SignInMain__form', placeholder: "パスワード"
      -# .recaptcha
      -#   = recaptcha_tags
      -# キー番号は発行済。GitHubにpushできないので、コードレビュー時のみこちらはコメントアウトしています。recapthca起動時の画像は https://gyazo.com/0cbb46d0b723d4b0605665f1ff336e34 で確認できます。
      .actions
        = f.submit "ログイン", class: 'SignInMain__btn SignInMain__btn__login'
      .IfForgotPWLink
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "IfForgotPW"
    .SignInMain__body__margin
= render 'devise/shared/footerUserRegis'




-# - if devise_mapping.rememberable?
  -#   .field
  -#     = f.check_box :remember_me
  -#     = f.label :remember_me
-# [recaptcha]
-# 実装方法はこれ参照→ https://webkaru.net/wordpress/plugin-contact-from-7-recaptcha/
