.header
  = render 'items/header'

.main
  .sidebar
    = render 'myinfomations/sidebar'

  .index
    .identification
      .identification__header
        %h1
          本人情報の登録
      .identification__content
        = form_with model: @user, url: user_registration_path, id: 'new_user', local: true do |f| #pathは仮
          %MypageIdentificationMessage
            お客さまの本人情報をご登録ください。
            %br/
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .identification__content__link
            =link_to "#" do
              本人確認書類のアップロードについて 〉
          %MypageIdentificationContents
            %br/
            お名前
            %br/
            メルカリ太郎
          %MypageIdentificationContents
            %br/
            お名前カナ
            %br/
            メルカリタロウ
          %MypageIdentificationContents
            %br/
            生年月日
            %br/
            2020/12/12
          %MypageIdentificationContents
            %br/
            郵便番号
            %span.option
              任意
            %br/
            = f.text_field :zip_code,{autofocus: true, placeholder: "例）1234567 ハイフンなし", class: "identification__content__form identification__content__form__text"}
          %MypageIdentificationContents
            %br/
            都道府県
            %span.option
              任意
            %br/
            = f.select :prefecture, Address.prefectures.keys, {}, {, class: "identification__content__form identification__content__form__text"}
          %MypageIdentificationContents
            %br/
            市区町村
            %span.option
              任意
            %br/
            = f.text_field :city,{autofocus: true, placeholder: "例）横浜市緑区", class: "identification__content__form identification__content__form__text"}
          %MypageIdentificationContents
            %br/
            番地
            %span.option
              任意
            %br/
            = f.text_field :address,{autofocus: true, placeholder: "例）青山1-1-1", class: "identification__content__form identification__content__form__text"}
          %MypageIdentificationContents
            %br/
            建物名
            %span.option
              任意
            %br/
            = f.text_field :building,{autofocus: true, placeholder: "例）柳ビル103", class: "identification__content__form identification__content__form__text"}
          .identification__content__btn
            登録する
          .identification__content__link
            =link_to "#" do
              本人情報の登録について 〉

        -# .card__content__list
        -#   .card__content__list__name
        -#     %h2
        -#       クレジットカード一覧

        -#   .card__content__list__add
        -#     = link_to new_credit_card_path, class: "card__content__list__add__btn" do
        -#       = icon('fas', 'credit-card',class:"card__content__list__add__btn--icon")
        -#       クレジットカードを追加する

        -# .card__content__method
        -#   = link_to "#", class: "card__content__method__btn" do
        -#     支払い方法について
        -#     = icon('fas', 'angle-right',class:"card__content__method__btn--icon")

.footer
  = render 'items/footer'