.popular
  - if index == 0
    .popular__topFirst
      %h3.popular__top__title
        = "#{item_set[0]}新着アイテム"
      =link_to "#", class: "popular__top__more" do
        もっと見る　＞
  - else
    .popular__top
      %h3.popular__top__title
        = "#{item_set[0]}新着アイテム"
      =link_to "#", class: "popular__top__more" do
        もっと見る　＞
  %ul.popular__list
    - for item in 0..9 do
      %li.popular__list__product
        =link_to item_path(item_set[1][item].id), class: "product" do
          .product__image
            = image_tag item_set[1][item].images.to_a[0].pass
            %span
              = "￥#{item_set[1][item].price.to_s(:delimited)}"
          .product__name
            %span
              = item_set[1][item].name
          .product__mask