- if user_signed_in?
  = render "header"
-else
  = render "header_unlogined"
.slide
  .slide__images
    .slide__images__link.slideImage1
      =link_to "/" do
        .slideImage1__mainImage
    .slide__images__link.slideImage2
      =link_to "/" do
        .slideImage2__mainImage
  =image_tag 'carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png', class: 'slide__navLeft'
  =image_tag 'carousel-prev-af7ca886ce42c4c02610cd15421ddcad.png', class: 'slide__navRight'
  -# どちらの画像が表示されてるかを示してる小さい丸
  .slide__circles
    %span.slide__circles__left.bright
    %span.slide__circles__right

.body
  .popularCB
    .popularCB__container1
      %h2.popularCB__container1__title
        人気のカテゴリー
      %ul.popularCB__container1__list
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            レディース
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            メンズ
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            家電・スマホ・カメラ
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            おもちゃ・ホビー・グッズ
            -# = @items[0].price
    .popularCB__container2
      - @itemCategorys.each_with_index do |itemCategory, index|
        = render partial: 'product', locals: { index: index, item_set: itemCategory }
  .popularCB
    .popularCB__container1
      %h2.popularCB__container1__title
        人気のブランド
      %ul.popularCB__container1__list
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            シャネル
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            ルイヴィトン
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            シュプリーム
        %li
          =link_to "/", class: "popularCB__container1__list__link" do
            ナイキ
    .popularCB__container2
      - @item_brands.each_with_index do |item_brand, index|
        = render partial: 'product', locals: { index: index, item_set: item_brand }

= render "footer"
.exhibition
  =link_to new_product_path, class: "exhibition__link" do
    出品
    = fas_icon 'camera', class: "exhibition__link__icon"