.header3
  .header3__logo
    = link_to root_path do
      .header3__logo__image
    .header3__logo__progress
      = image_tag "done.png", class: "image", size: "450x35"

.createAccountContents
  .createAccountContents__title
    会員登録完了
  .createAccountContents__selection
    %ul
      %li ありがとうございます。
      %li 会員登録が完了しました。
    .createAccountContents__btn
    = link_to root_path, class: "createAccountContents__btn createAccountContents__btn__mail" do
      メルカリをはじめる
    = link_to root_path, class: "createAccountContents__btn createAccountContents__btn__facebook" do
      Downloads on the App Store
    = link_to root_path, class: "createAccountContents__btn createAccountContents__btn__google" do
      GET IT ON Google Play
= render 'devise/shared/footer3'