= render "header"
.container
  .item
    .item-box
      %h1.item-box__name
        = @item.name
      .item-box__details
        .item-box__details__image
          %ul.item-box__details__image__top
            %li
              =image_tag 'test/item0.jpeg'
          %ul.item-box__details__image__list
            %li
              =image_tag 'test/item1.jpeg'
              =image_tag 'test/item2.jpeg'
              =image_tag 'test/item3.jpeg'
              =image_tag 'test/item4.jpeg'
              =image_tag 'test/item5.jpeg'
              =image_tag 'test/item6.jpeg'
              =image_tag 'test/item7.jpeg'
              =image_tag 'test/item8.jpeg'
              =image_tag 'test/item9.jpeg'
              =image_tag 'test/item10.jpeg'
        .item-box__details__table
          %table{border: "1", style: "border-collapse: collapse"}
            %tr
              %th 出品者名
              %td.item-box__details__table__td
                = link_to "#", class:"td__link" do
                  = @user.nickname
                %br
                =fas_icon 'grin', class: "grin-icon" 
                999
                =fas_icon 'meh-blank', class: "meh-blank-icon"
                999
                =fas_icon 'angry', class: "angry-icon"
                999
            %tr
              %th カテゴリー
              %td.item-box__details__table__td
                = link_to "#", class:"td__link" do
                  = @categorys.parent.parent.name
                %br
                = link_to "#", class:"td__link" do
                  = icon('fas', 'chevron-right')
                  = @categorys.parent.name
                %br
                = link_to "#", class:"td__link" do
                  = icon('fas', 'chevron-right')
                  = @categorys.name
                                 
              %tr
                %th ブランド
                %td.item-box__details__table__td
                  = link_to "#", class:"td__link" do
                    = @brand.name
            %tr
              %th 商品のサイズ
              %td.item-box__details__table__td XS
            %tr
              %th 商品の状態
              %td.item-box__details__table__td 
                = @item.item_status
            %tr
              %th 配送料の負担
              %td.item-box__details__table__td
                = @item.fee_side
            %tr
              %th 配送の方法
              %td.item-box__details__table__td
                = @item.shipping_way
            %tr
              %th 発送元地域
              %td.item-box__details__table__td
                = @item.region
            %tr
              %th 発送日の目安
              %td.item-box__details__table__td 
                = @item.sipping_days

    .item__price
      %span.item__price__amount
        ¥
        = @item.price.to_s(:delimited)
      %span.item__price__tax (税込)
      %span.item__price__ship 
        - if @item.fee_side == "1"
          送料込み
        - else 
          送料別

      .item__purchase
        - if user_signed_in? && current_user.id == @item.saler_user_id
          = link_to "#" do 
            購入画面に進む
        - else
          = link_to new_user_session_path do
            購入画面に進む

      .item__field 
        = safe_join(@item.discription.split("\n"),tag(:br))

      %ul.item__bottom
        %li.item__bottom__likes 
          - if user_signed_in? && current_user.id == @item.saler_user_id
            = link_to "#" do 
              いいね!

          - else
            = link_to new_user_session_path do
              いいね!

      = link_to "#" do
        %li.item__bottom__report 
          不適切な商品の報告
      = link_to "#" do
        %li.item__bottom__policy 
          = icon('fas', 'lock')
          あんしん・あんぜんへの取り組み
          
  .container__form
    %p.warning 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.inputs
    %form.message-form
    = link_to "#" do
      .container__form__btn
        コメントする
  .container__sns
    .container__sns__box
      %li
        %a.facebook
          = fab_icon 'facebook-square', class: "facebook__icon"
      %li
        %a.twitter
          = fab_icon 'twitter', class: "twitter__icon"
      %li
        %a.line
          = fab_icon 'line', class: "line__icon"
      %li
        %a.pinterest
          = fab_icon 'pinterest', class: "pinterest__icon"

  .container__show
    %div.container__show__list
      %p.other
        = link_to "#{@user.nickname}さんのその他の出品"
        
      - @items.each do |item|
        .show-box
          = link_to item_path(item) do
            .show-box__image
              =image_tag item.images.to_a[0].pass
            .show-box__text
              .show-box__text__name
                = item.name
              .show-box__text__price
                ¥
                = item.price.to_s(:delimited)

  - if @subitems.present?
    .container__show
      %div.container__show__list
        %p.other
          = link_to "#{@brand.name}の#{@categorys.name}その他の出品"
      
        - @subitems.each do |subitem|
          .show-box
            = link_to item_path(subitem) do
              .show-box__image
                =image_tag subitem.images.to_a[0].pass
              .show-box__text
                .show-box__text__name
                  = subitem.name
                .show-box__text__price
                  ¥
                  = subitem.price.to_s(:delimited)

= render "footer"
