.header2
  = render 'devise/shared/header2'

.products__new
  = form_with model: @item, local: true, url: products_path, class: "contents" do |f|
    .contents__header
      %h2
        商品の情報を入力

      .contents__item
        .contents__item__upload
          .contents__item__upload__list
            %label
              出品画像
            %span
              必須
            %p
              最大10枚までアップロードできます
            
          .contents__item__upload__image
            .contents__item__upload__image__btn
              %p
                ドラッグアンドドロップ
                %br
                  またはクリックしてファイルをダウンロード
              .contents__item__upload__image__btn__area
                = f.fields_for :images do |image| 
                  = image.file_field :image, class: "contents__item__upload__image__btn__area__field"

        .contents__item__comment
          .contents__item__comment__name
            %label
              商品名
            %span
              必須
            .contents__item__comment__name__form
              = f.text_field :name, class:"contents__item__comment__name__form__text", placeholder: "商品名（必須40文字まで）",maxlength: "40"
        
          .contents__item__comment__description
            %label
              商品の説明
            %span
              必須
            .contents__item__comment__description__form
              = f.text_area :discription, class:"contents__item__comment__description__form__text", placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など） 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",maxlength: "1000"
        
        .contents__item__status
          %h3
            商品の詳細
          .contents__item__status__right
            .contents__item__status__right__category
              %label
                カテゴリー
              %span
                必須
              = f.select :category_id, [["---", ""], ["レディース", value = 1.to_i],["メンズ", value = 2.to_i]], class: "contents__item__status__right__category__select"

            .contents__item__status__right__category
              %label
                ブランド
              %span
                必須
              = f.select :brand_id, [["---", ""], ["シャネル", value = 1.to_i]], class: "contents__item__status__right__category__select"

            .contents__item__status__right__condition
              %label
                商品の状態
              %span
                必須
              = f.select :item_status, [["---", ""], ["新品、未使用", value = "1"],["未使用に近い", value = "2"], ["目立った傷や汚れなし", value = "3"], ["やや傷や汚れあり", value = "4"], ["傷や汚れあり", value = "5"], ["全体的に状態が悪い", value = "6"]], class: "contents__item__status__right__condition__select"
              
        .contents__item__shippingWay
          %h3
            配送について
          = link_to '#' do
            = icon('fas', 'question-circle',class:"contents__item__shippingWay--icon")

          .contents__item__shippingWay__right
            .contents__item__shippingWay__right__burden
              %label
                配送料の負担
              %span
                必須
              = f.select :fee_side, [["---", ""], ["送料込み(出品者負担)", value = "1"],["着払い(購入者負担)", value = "2"]], class: "contents__item__shippingWay__right__burden__select"

          .contents__item__shippingWay__right
            .contents__item__shippingWay__right__burden
              %label
                配送料の負担
              %span
                必須
              = f.select :shipping_way, [["---", ""], ["未定", value = "1"],["ヤマト", value = "2"]], class: "contents__item__shippingWay__right__burden__select"

            .contents__item__shippingWay__right__city
              %label
                発送元の地域
              %span
                必須
              = f.select :region,Address.prefectures.keys, class: 'contents__item__shippingWay__right__city__select'


            .contents__item__shippingWay__right__days
              %label
                発送までの日数
              %span
                必須
              = f.select :sipping_days, [["---", value = 1], ["1〜2日で発送", value = 2],["2〜3日で発送", value = 3], ["4〜7日で発送", value = 4]], class: "contents__item__shippingWay__right__days__select"

        .contents__item__price
          %h3
            販売価格(300〜9,999,999)
          = link_to '#' do
            = icon('fas', 'question-circle',class:"contents__item__price--icon")

          .contents__item__price__right
            .contents__item__price__right__total
              %label
                価格
              %span
                必須
              .contents__item__price__right__total__form
                ¥
                = f.text_field :price, class:"contents__item__price__right__total__form__string", placeholder: "例) 300"
          
            .contents__item__price__right__fee
              販売手数料(10%)
              .contents__item__price__right__fee__form
                **

            .contents__item__price__right__profit
              %label
                販売利益
              .contents__item__price__right__profit__form
                **

        .contents__item__add
          .contents__item__add__note
            %div
              %p
                = link_to '#', class:"link-blue" do
                  禁止されている出品
                、
                = link_to '#', class:"link-blue" do
                  行為
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to '#', class:"link-blue" do
                  偽ブランドの販売
                は犯罪であり処罰される可能性があります。
              %p
                た、出品をもちまして
                = link_to '#', class:"link-blue" do
                  加盟店規約
                に同意したことになります。

            .contents__item__add__btnTop
              = f.submit "出品する", class:"contents__item__add__btnTop__submit"

            .contents__item__add__btnBack
              = link_to "#", class:"contents__item__add__btnBack__link" do
                もどる

.footer2
  = render 'devise/shared/footer2'
